*{
    /* margin: 0 1;
    padding: 0; */
    font-family: 'Poppins', sans-serif;
}
/* Header */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon{
    margin-left: 25px;
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg");
    background-size: 70px;
    background-position: center;
    
}

nav{
    border: 1px solid;
    width: 600px;
    border-radius: 5px;
    margin-right: 100px;
    /* padding: 10px; */
}

nav>ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

nav>ul>a{
    color: black;
    display: flex;
    justify-content: center;
    width: 600px;
    border-right: 1px solid;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.end-border{
    border-right: none;
}

/* End Header */

/* Main */
section{
    margin-top: 50px;
    margin-left: 50px;
}

section>header>h1{
    /* border: 1px solid; */
    width: 500px;
    margin-bottom: 0;
}

section>header>p{
    /* border: 1px solid; */
    width: 500px;
    margin-top: 0;
    margin-bottom: 5px;
}

.banner-image{
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -50px;
    height: 550px;
    background-image: url("https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg");
    background-size: 100px;
    /* background-position: center; */
}

section .content1{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;;
    height: 400px;
}

.card{
    /* border: 1px solid; */
    border-radius: 20px;
    /* margin-left: 50px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 365px;
}

.about{
    /* border: 1px solid; */
    margin: 10px;
    text-align: justify;
    /* height: 100%; */
    width: 400px;
}

.logoProfile{
    background-image: url("https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg");
    background-size: 160px;
    background-position: center;
    border: 1px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.history{
    /* border: 1px solid; */
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: top;
    flex-direction: column;
    /* margin-left: 20px; */
    /* align-items: center; */
}

.history-title{
    display: flex;
    justify-content: left;
    margin-left: 40px;
}

.history>ul>li>h2{
    /* border: 1px solid; */
    font-size: 16px;
    /* margin-left: 20px; */
    margin-top: 0;
    margin-bottom: -20px;
}

.history>ol>li>p{
    /* border: 1px solid; */
    margin-top: 0;
    /* margin-left: 10px; */
}
/* End Main */

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    color: black;
    font-size: 23px;
    margin: 8px;
}
/* End Footer */