*{
    /* margin: 0 1;
    padding: 0; */
    font-family: 'Poppins', sans-serif;
}
/* Header */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon{
    margin-left: 25px;
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg");
    background-size: 70px;
    background-position: center;
    
}

nav{
    border: 1px solid;
    width: 600px;
    border-radius: 5px;
    margin-right: 100px;
    /* padding: 10px; */
}

nav>ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

nav>ul>a{
    color: black;
    display: flex;
    justify-content: center;
    width: 600px;
    border-right: 1px solid;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.end-border{
    border-right: none;
}

/* End Header */

/* Main */
section{
    margin-top: 50px;
    margin-left: 50px;
}

section>header>h1{
    /* border: 1px solid; */
    width: 500px;
    margin-bottom: 0;
}

section>header>p{
    /* border: 1px solid; */
    width: 500px;
    margin-top: 0;
}

.banner-image{
    border: 1px solid;
    border-radius: 5px;
    margin-left: -50px;
    height: 550px;
    background-image: url("https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-male-user-profile-vector-illustration-isolated-background-man-profile-sign-business-concept_157943-38764.jpg");
    background-size: 100px;
    /* background-position: center; */
}

/* End Main */

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    color: black;
    font-size: 23px;
    margin: 8px;
}
/* End Footer */